<% if @notifications %>
  <% @notifications.each do |notification| %>
  <div class="notification-item" data-id="<%= notification.id %>">
    <%= link_to notification.lecturer.name, notification.lecturer %>
    created a course named
    <%= link_to notification.course.name, notification.course %>,
    we thought you might beinterested based on your interests:
    <%= link_to notification.request.tags.map(&:label).join(','), notification.request %>
    <hr />
  </div>
  <% end %>
<% end %>