<% @requests.each do |request| %>
  <div class="row">
    <h2>
      <% request.tags.each do |tag| %>
        <%= tag.label %>
      <% end %>
    </h2>
    <p><%= request.location_address %></p>
    <p><%= link_to 'Show', request, :class => "btn btn-default" %></p>
  </div>
<% end %>
